{% macro observing_system_fields(form) -%}
  {{form.name.label}} {{form.name(size=50)}}
  {% if form.name.errors %}
    <ul class="errors">
    {% for error in form.name.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  <br />

  {{form.url.label}} {{form.url(size=50)}}
  {% if form.url.errors %}
    <ul class="errors">
    {% for error in form.url.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  <br />

  {{form.author_name.label}} {{form.author_name(size=50)}}
  {% if form.author_name.errors %}
    <ul class="errors">
    {% for error in form.author_name.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  <br />

  {{form.author_email.label}} {{form.author_email(size=50)}}
  {% if form.author_email.errors %}
    <ul class="errors">
    {% for error in form.author_email.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  <br />

  {{form.funding_country.label}} {{form.funding_country(size=50)}}
  {% if form.funding_country.errors %}
    <ul class="errors">
    {% for error in form.funding_country.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  <br />

  {{form.funding_agency.label}} {{form.funding_agency(size=50)}}
  {% if form.funding_agency.errors %}
    <ul class="errors">
    {% for error in form.funding_agency.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  <br />

  {{form.references_citations.label}} {{form.references_citations(size=50)}}
  {% if form.references_citations.errors %}
    <ul class="errors">
    {% for error in form.references_citations.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  <br />

  {{form.notes.label}} {{form.notes(size=50)}}
  {% if form.notes.errors %}
    <ul class="errors">
    {% for error in form.notes.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}

{%- endmacro -%}


{% macro data_product_fields(form) -%}
  {{form.name.label}} {{form.name(size=50)}}
  {% if form.name.errors %}
    <ul class="errors">
    {% for error in form.name.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  <br />

  {{form.performance_rating.label}} {{form.performance_rating(size=5)}}
  {% if form.performance_rating.errors %}
    <ul class="errors">
    {% for error in form.performance_rating.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{%- endmacro -%}


{% macro application_fields(form) -%}
  {{form.name.label}} {{form.name(size=50)}}
  {% if form.name.errors %}
    <ul class="errors">
    {% for error in form.name.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{%- endmacro -%}


{% macro data_product_application_fields(form) -%}
  {{form.criticality_rating.label}} {{form.criticality_rating(size=5)}}
  {% if form.criticality_rating.errors %}
    <ul class="errors">
    {% for error in form.criticality_rating.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  <br />

  {{form.performance_rating.label}} {{form.performance_rating(size=50)}}
  {% if form.performance_rating.errors %}
    <ul class="errors">
    {% for error in form.performance_rating.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  <br />

  {{form.rationale.label}} {{form.rationale(size=50)}}
  {% if form.rationale.errors %}
    <ul class="errors">
    {% for error in form.rationale.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  <br />

  {{form.needed_improvements.label}} {{form.needed_improvements(size=50)}}
  {% if form.needed_improvements.errors %}
    <ul class="errors">
    {% for error in form.needed_improvements.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{%- endmacro -%}


{% macro user_fields(form) -%}
  {{form.orcid.label}} {{form.orcid(size=50)}}
  {% if form.orcid.errors %}
    <ul class="errors">
    {% for error in form.orcid.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  <br />
  <br />

  {{form.biography.label}} {{form.biography(size=50)}}
  {% if form.biography.errors %}
    <ul class="errors">
    {% for error in form.biography.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  <br />
  <br />

  {{form.affiliation.label}} {{form.affiliation(size=50)}}
  {% if form.affiliation.errors %}
    <ul class="errors">
    {% for error in form.affiliation.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  <br /><br />

  {{form.role_id.label}} {{form.role_id(size=50)}}
  {% if form.role_id.errors %}
    <ul class="errors">
    {% for error in form.role_id.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  <br />
  <br />

{%- endmacro -%}
