# Python ephemera
__pycache__/

# Docker ephemera
docker-compose.override.yml
compose.override.yml
.env


# App-specific
/_db/


# Things create by GitHub Codespaces that can be confusing for contributors
# TODO: Think harder about this?
/oryx-build-commands.txt
/venv/
