name: usaon-vta-survey
channels:
  - conda-forge
  - nodefaults
platforms:
  - linux-64
  - osx-64
dependencies:
  - python ~=3.10.6

  # Dev dependencies:
  - invoke ~=1.7
  - pytest ~=7.1
  - mypy ~=0.942
  - shellcheck ~=0.8.0
  - typing-extensions ~=4.4
  - pre-commit
  - bump-my-version ~=0.9.2

  # Runtime dependencies:
  - flask ~=2.2
  - flask-wtf ~=1.0
  - flask-login ~=0.6.2
  - gunicorn ~=21.2
  
  - requests 
  - oauthlib
  - openssl

  - sqlalchemy ~=1.4
  - psycopg2 ~=2.9
  - flask-sqlalchemy ~=3.0

  - loguru ~=0.6.0

  # Optional dependency enables adhoc ssl certs in dev:
  - pyopenssl

  - pip:
    # TODO: Get these on conda-forge
    - wtforms-sqlalchemy
    - flask-dance
    - bootstrap-flask ~=2.3.0
