{% extends 'base.html' %}
{% from 'macros/help_icon.j2' import help_icon %}


{% block content %}

  <h2>
    {% block title %}Response to: {{survey.title}}{% endblock %}
    {{ help_icon(
        "Survey #"~survey.id~"<br/>Created: "~response.created_timestamp | dateformat~"<br/>Last updated: "~response.updated_timestamp | dateformat,
        html="true",
    )}}
  </h2>


  <nav>
    <ul>

      <li>
        <a href="{{url_for('response.view_response', survey_id=survey.id)}}">
          Response home (full sankey)
        </a>
      </li>

      <li>
        <a href="{{url_for('obs.view_response_observing_systems', survey_id=survey.id)}}">
          Add/edit observing systems ({{survey.response.observing_systems | length}})
        </a>
      </li>

      <li>
        <a href="{{url_for('data_product.view_response_data_products', survey_id=survey.id)}}">
          Add/edit data products ({{survey.response.data_products | length}})
        </a>
      </li>

      <li>
        <a href="{{url_for('application.view_response_applications', survey_id=survey.id)}}">
          Add/edit applications ({{survey.response.applications | length}})
        </a>
      </li>

      <li>
        <a href="{{url_for('sba.view_response_sbas', survey_id=survey.id)}}">
          Add/edit Societal Benefit Areas ({{survey.response.societal_benefit_areas | length}})
        </a>
      </li>

      <li>
        <a href="{{url_for('survey.view_survey', survey_id=survey.id)}}">
          View survey info
        </a>
      </li>

    </ul>
  </nav>

{% endblock %}
