<!doctype html>
<head>
  <title>{% block title %}{% endblock %} - US AON VTA Survey</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>

<body>
  <nav>
    <h1>US AON VTA Survey System</h1>
    <ul>
      <li><a href="/surveys">Surveys</a></li>
      <li><a href="/responses">Responses</a></li>
    </ul>
  </nav>
  <section class="content">
    <header>
      {% block header %}{% endblock %}
    </header>
  
	  {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}

    {% block content %}{% endblock %}

  </section>
  
</body>
