{% from 'macros/nav_buttons.j2' import nav_buttons %}
{% from 'bootstrap5/utils.html' import render_messages %}

<!doctype html>
<head>
  <title>{% block title %}{% endblock %} - US AON VTA Survey</title>
  {{ bootstrap.load_css() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
    <h1>US AON Benefit Tool Survey System</h1>
    <ul class="navbar-nav">
      {{ nav_buttons(current_user) }}
    </ul>
  </nav>
  {{ render_messages() }}
  <section class="content">
    <header>
      {% block header %}{% endblock %}
    </header>
    

    {% if not current_user.is_authenticated %}
      <h3>Please login to use this application.</h3>
    {% else %}
      {% block content %}{% endblock %}
    {% endif %}

  </section>
  <footer>
    <p>Version: v{{ __version__ }}</p>
  </footer>
  
</body>
