{% extends "base.html" %}

{% block content %}
    <h1>Profile for user: {{ user.id }}</h1>
		<form method="post">
        <p>
            <label for="orcid">ORCID</label>
            <input type="text" name="orcid"
                   placeholder="orcid">
            </input>
        </p>

        <p>
            <label for="biography">Biography</label>
            <input type="text" name="biography"
                   placeholder="about you">
            </input>
        </p>

        <p>
            <label for="affiliation">Affiliation</label>
            <input type="text" name="affiliation"
                   placeholder="workplace/org">
            </input>
        </p>
        <p>
            <button type="submit">Submit</label>
        </p>
    <hr>
    {% for post in posts %}
    <p>
    {{ post.author.id }} says: <b>{{ post.body }}</b>
    </p>
    {% endfor %}
{% endblock %}
