{% extends 'base.html' %}


{% block content %}

<h1>{% block title %}Profile: {{ current_user.name }} {% endblock %}</h1>
<h3>{{ current_user.id }}</h3>
<h3>Role: {{ current_user.role }}</h3>

  <form method="POST">
        {{form.csrf_token}}

        {{form.orcid.label}} {{form.orcid(rows=4, cols=100)}}
        {% if form.orcid.errors %}
            <ul class="errors">
            {% for error in form.orcid.errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        <br>
        <br>

        {{form.biography.label}} {{form.biography(rows=4, cols=100)}}
        {% if form.biography.errors %}
            <ul class="errors">
            {% for error in form.biography.errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        <br>
        <br>

        {{form.affiliation.label}} {{form.affiliation(rows=4, cols=100)}}
        {% if form.affiliation.errors %}
            <ul class="errors">
            {% for error in form.affiliation.errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        <br>
        <br>

    <input type="submit" value="Submit" />

  </form>

{% endblock %}
