{% extends 'base.html' %}


{% block content %}

  <h2>{% block title %}Survey Title: {{survey.title}}{% endblock %}</h2>
  <h4>Survey ID : {{survey.id}}</h4>

  <i>Created: {{survey.created_timestamp}}</i>

  <h3>Notes</h3>
  <p>{{survey.description}}</p>

  <h3>Response</h3>

  {% if survey.response_id %}
    <a href="{{url_for('view_response', survey_id=survey.id, _external=True)}}">
      View response
    </a>
    <p> Response by: {{ survey.response.created_by.email}} </p>
  {% else %}
    <p>No response available. Send this URL to respondent(s):</p>
    <input size=100 value="{{url_for('view_response', survey_id=survey.id, _external=True)}}" />

    <p><i>
      IMPORTANT: Advise respondents that this application does not support concurrent or collaborative editing.
      Please take turns or screen-share while editing if input from multiple users is required.
    </i></p>
  {% endif %}

{% endblock %}
