{% extends 'base.html' %}


{% block content %}
  <h2>{% block title %}Surveys{% endblock %}</h1>

  {% if current_user.role_id=='admin' %}
    <a href="/survey/new">New survey</a>
  {% endif %}
  <br />
  <br />

  <table>

    <tr>
      <th>id</th>
      <th>Title</th>
      <th>Created On</th>
      <th>Created by</th>
      <th>Last Edited</th>
      <th>Response</th>
      <th>Description</th>
      <th>Status</th>

  {% for survey in surveys %}
    <tr>
      <td>
        <a href="{{url_for('view_survey', survey_id=survey.id)}}">{{survey.id}}</a>
      </td>
      <td>{{survey.title}}</td>
      <td>{{survey.created_timestamp}}</td>
      <td>{{survey.created_by}}</td>
      <td>{{survey.response.updated_timestamp}}</td>
      <td>
        {% if survey.response %}
          <a href="{{url_for('view_response', survey_id=survey.id)}}">
            <!-- NOTE: The comments below eliminate whitespace inserted with each newline. -->

            View (<!--
            -->{{survey.response.observing_systems | length}}/<!--
            -->{{survey.response.data_products | length}}/<!--
            -->{{survey.response.applications | length}}/<!--
            -->?)
          </a>
        {% else %}
          None
        {% endif %}
      </td>
      <td>{{survey.description}}</td>
      <td>{{survey.status.id}}</td>
    </tr>
  {% endfor %}

  </table>
{% endblock %}
