<form method="POST">
  {{form.csrf_token}}

  {{form.name.label}} {{form.name(size=100)}}
  {% if form.name.errors %}
    <ul class="errors">
    {% for error in form.name.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  <br />

  {{form.satisfaction_rating.label}} {{form.satisfaction_rating(size=100)}}
  {% if form.satisfaction_rating.errors %}
    <ul class="errors">
    {% for error in form.satisfaction_rating.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}

  <input type="submit" value="Create new data_product" />
</form>
