{% extends 'survey/base.html' %}
{% from 'bootstrap5/form.html' import render_form %}


{% block content %}

  {{super()}}

  {% if not current_user.role_id=='analyst' %}
    <h3>Application &lt;-&gt; Societal Benefit Area relationship</h3>

    <!-- This form enables reloading the page when a drop-down is changed -->
    <form method="GET" class="two-columns">

      <div>
        <h4>Application</h4>

        <select name="application_id" onchange="this.form.submit()">

          <option value="" {% if sqla_inspect(application).transient %}selected{% endif %}>
            New application
          </option>

          {% for app in applications %}
            <option value="{{app.id}}" {% if app.id == application.id %}selected{% endif %}>
              {{app.short_name}}
            </option>
          {% endfor %}

        </select>
      </div>


      <div>
        <h4>Societal Benefit Areas</h4>

        <select name="societal_benefit_area_id" onchange="this.form.submit()">


          {% for sba in societal_benefit_areas %}
            <option value="{{sba.id}}" {% if sba.id == societal_benefit_area.id %}selected{% endif %}>
              {{sba.societal_benefit_area_id}}
            </option>
          {% endfor %}

        </select>
      </div>
    </form>

    <form method="POST">
      {{form.csrf_token}}
      {{render_form(form)}}

    </form>
  {% else %}
    <h3>You do not have permissions to add relationships.</h3>
  {% endif %}


{% endblock %}
