nav ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

nav ul li {
  display: inline;
  padding-right: 15px;
}

body {
  padding: 20px;
}

table, td, th {
  border: 1px solid;
}

table td, table th {
  padding: 10px;
}

form input[type=submit] {
  display: block;
}
