{% macro datatable_script() %}
  <script>
    const dataTable = new simpleDatatables.DataTable("table", {
      searchable: true,
      fixedHeight: true,
      paging: false,
    })
  </script>
{% endmacro %}
