{% macro add_javascript__highcharts(sankey_series, survey_title) -%}

  <script>
    Highcharts.setOptions({
      lang: {
        contextButtonTitle: 'Print and download options',
      }
    });

    Highcharts.chart('highcharts-container', {
      chart: {
        type: 'sankey',
      },
      title: {
        text: "{{ survey_title }}",
        style: {fontSize: '20px'},
      },
      accessibility: {
        description: 'Sankey plot for U.S. AON Benefit Tool',
        point: {
          valueDescriptionFormat: '{index}. {point.from} to {point.to}, {point.weight}.',
        },
      },
      series: [{
        keys: ['from', 'to', 'weight'],
        data: {{ sankey_series | safe }},
      }],
    });
  </script>
{% endmacro %}


{% macro display_sankey(sankey_series, survey_title) -%}
  {% include 'includes/highcharts.html' %}
  <h4>Diagram</h4>

  {% if sankey_series == [] %}
    <div class="alert alert-info">
      Please input at least one relationship to display diagram
    </div>
  {% else %}
    <figure class="highcharts-figure">
      <div id="highcharts-container" />
    </figure>
    {{ add_javascript__highcharts(sankey_series, survey_title) }}
  {% endif %}
{% endmacro %}
