{% macro nav_buttons(current_user) -%}
  {% from "bootstrap5/nav.html" import render_nav_item %}

  {{ render_nav_item("assessments.get", "Assessments", _use_li=True)}}
  {# NB: The user-facing term for "nodes" is "objects" #}
  {{ render_nav_item("nodes.get", "Object library", _use_li=True)}}

  <li class="nav-item dropdown">
    <a href="#"
       class="nav-link dropdown-toggle"
       data-bs-toggle="dropdown"
       role="button"
       aria-haspopup="true"
       aria-expanded="false"
    >User Support</a>
    <div class="dropdown-menu">
      <a href="{{url_for("user.get", user_id=current_user.id)}}"
         class="dropdown-item"
      >FAQs</a>
      <a href="{{url_for("logout.logout")}}"
         class="dropdown-item"
      >User Guide</a>
    </div>
  </li>
{%- endmacro -%}


{% macro user_buttons(current_user) -%}
  {% from "bootstrap5/nav.html" import render_nav_item %}

  {% if current_user.role_id == types.RoleName.ADMIN %}
    <li class="nav-item dropdown">
      <a href="#"
         class="nav-link dropdown-toggle"
         data-bs-toggle="dropdown"
         role="button"
         aria-haspopup="true"
         aria-expanded="false"
      >Admin</a>
      <div class="dropdown-menu">
        <a href="{{url_for("users.get")}}"
           class="dropdown-item"
        >Users</a>
      </div>
    </li>
  {% endif %}

  {% if current_user.is_authenticated %}
    <li class="nav-item dropdown">
      <a href="#"
         class="nav-link dropdown-toggle"
         data-bs-toggle="dropdown"
         role="button"
         aria-haspopup="true"
         aria-expanded="false"
      >My user</a>
      <div class="dropdown-menu">
        <a href="{{url_for("user.get", user_id=current_user.id)}}"
           class="dropdown-item"
        >Profile</a>
        <a href="{{url_for("logout.logout")}}"
           class="dropdown-item"
        >Log out</a>
      </div>
    </li>
  {% else %}
    {{ render_nav_item("login.login", "Log in", _use_li=True)}}
  {% endif %}
{%- endmacro -%}
