{% macro response_object_fields(form) -%}
  {{form.short_name.label}} {{form.short_name(size=50)}}
  {% if form.short_name.errors %}
    <ul class="errors">
    {% for error in form.short_name.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  <br />

  {{form.website_url.label}} {{form.website_url(size=50)}}
  {% if form.website_url.errors %}
    <ul class="errors">
    {% for error in form.website_url.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  <br />

  {{form.contact_name.label}} {{form.contact_name(size=50)}}
  {% if form.contact_name.errors %}
    <ul class="errors">
    {% for error in form.contact_name.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  <br />

  {{form.contact_email.label}} {{form.contact_email(size=50)}}
  {% if form.contact_email.errors %}
    <ul class="errors">
    {% for error in form.contact_email.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  <br />

  {{form.funding_country.label}} {{form.funding_country(size=50)}}
  {% if form.funding_country.errors %}
    <ul class="errors">
    {% for error in form.funding_country.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  <br />

  {{form.organization.label}} {{form.organization(size=50)}}
  {% if form.organization.errors %}
    <ul class="errors">
    {% for error in form.organization.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  <br />

  {{form.tags.label}} {{form.tags(size=50)}}
  {% if form.tags.errors %}
    <ul class="errors">
    {% for error in form.tags.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  <br />

  {{form.description.label}} {{form.description(size=50)}}
  {% if form.description.errors %}
    <ul class="errors">
    {% for error in form.description.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}

{%- endmacro -%}


{% macro data_product_fields(form) -%}
  {{form.name.label}} {{form.name(size=50)}}
  {% if form.name.errors %}
    <ul class="errors">
    {% for error in form.name.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  <br />

  {{form.performance_rating.label}} {{form.performance_rating(size=5)}}
  {% if form.performance_rating.errors %}
    <ul class="errors">
    {% for error in form.performance_rating.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{%- endmacro -%}


{% macro application_fields(form) -%}
  {{form.name.label}} {{form.name(size=50)}}
  {% if form.name.errors %}
    <ul class="errors">
    {% for error in form.name.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{%- endmacro -%}


{% macro societal_benefit_area_fields(form) -%}
  {{form.societal_benefit_area.label}} {{form.societal_benefit_area}}
  {% if form.societal_benefit_area.errors %}
    <ul class="errors">
    {% for error in form.societal_benefit_area.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{%- endmacro -%}
