{% macro user_fields(form) -%}
  {{form.orcid.label}} {{form.orcid(size=50)}}
  {% if form.orcid.errors %}
    <ul class="errors">
    {% for error in form.orcid.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  <br />
  <br />

  {{form.biography.label}} {{form.biography(size=50)}}
  {% if form.biography.errors %}
    <ul class="errors">
    {% for error in form.biography.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  <br />
  <br />

  {{form.affiliation.label}} {{form.affiliation(size=50)}}
  {% if form.affiliation.errors %}
    <ul class="errors">
    {% for error in form.affiliation.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  <br /><br />

  {{form.role_id.label}} {{form.role_id(size=50)}}
  {% if form.role_id.errors %}
    <ul class="errors">
    {% for error in form.role_id.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  <br />
  <br />

{%- endmacro -%}
