{% extends 'response/base.html' %}
{% from 'bootstrap5/form.html' import render_form, render_field %}


{% block content %}

  {{super()}}

  {% if not current_user.role_id=='analyst' %}
    <h3>Data Product &lt;-&gt; Application relationship</h3>

    <!-- This form enables reloading the page when a drop-down is changed -->
    <form method="GET" class="two-columns">

      <div>
        <h4>Data product</h4>

        <select name="data_product_id" onchange="this.form.submit()">

          <option value="" {% if sqla_inspect(data_product).transient %}selected{% endif %}>
            New dataproduct
          </option>

          {% for dp in data_products %}
            <option value="{{dp.id}}" {% if dp.id == data_product.id %}selected{% endif %}>
              {{dp.short_name}}
            </option>
          {% endfor %}

        </select>
      </div>


      <div>
        <h4>Application</h4>

        <select name="application_id" onchange="this.form.submit()">

          <option value="" {% if sqla_inspect(application).transient %}selected{% endif %}>
            Create new application
          </option>

          {% for app in applications %}
            <option value="{{app.id}}" {% if app.id == application.id %}selected{% endif %}>
              {{app.short_name}}
            </option>
          {% endfor %}

        </select>
      </div>
    </form>

    <!-- look into this -->
    <form method="POST">
      {{form.csrf_token}}

      {{render_form(form)}}
    </form>
      
  {% else %}
    <h3>You do not have permissions to add relationships.</h3>
  {% endif %}


{% endblock %}
