{% extends 'base.html' %}
{% from 'macros/help_icon.j2' import help_icon %}
{% from 'macros/nav_pills.j2' import render_nav_pill_item %}


{% block content %}

  <h2>
    {% block title %}Project #{{project.id}}: {{project.title}}{% endblock %}
    {{ help_icon(
        "Created: "~project.response.created_timestamp | dateformat~"<br/>Last updated: "~project.response.updated_timestamp | dateformat,
        html="true",
    )}}
  </h2>


  <ul class="nav nav-pills">

    {{ render_nav_pill_item(
      'project.view_project',
      'User guide',
      project_id=project.id,
    ) }}

    {{ render_nav_pill_item(
      'project.view_project_overview',
      'Overview',
      project_id=project.id,
    ) }}

    {{ render_nav_pill_item(
      'project.edit_project',
      'Edit',
      project_id=project.id,
    ) }}

    {#
    {{ render_nav_pill_item(
      'obs.view_response_observing_systems',
      'Observing systems',
      project_id=project.id,
      _icon='pencil',
      _badge=project.response.observing_systems | length | string,
    ) }}
    {{ render_nav_pill_item(
      'data_product.view_response_data_products',
      'Data products',
      project_id=project.id,
      _icon='pencil',
      _badge=project.response.data_products | length | string,
    ) }}
    {{ render_nav_pill_item(
      'application.view_response_applications',
      'Applications',
      project_id=project.id,
      _icon='pencil',
      _badge=project.response.applications | length | string,
    ) }}
    {{ render_nav_pill_item(
      'sba.view_response_sbas',
      'Societal Benefit Areas',
      project_id=project.id,
      _icon='pencil',
      _badge=project.response.societal_benefit_areas | length | string,
    ) }}
    #}

  </ul>

{% endblock %}
