{% from 'macros/forms/form_fields.j2' import render_form_fields %}

<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">
      {{ title }}
    </h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>

  <div class="modal-body">
    <!-- Add search input -->
    <div class="mb-3">
      <label for="node-search" class="form-label">Search objects:</label>
      <input type="text"
             id="node-search"
             class="form-control"
             placeholder="Type to filter by title..."
	     hx-get="{{ url_for('assessment.nodes.form_field', assessment_id=assessment_id, node_type=node_type) }}"
	     hx-target="#{{form.node.id }}"
             hx-trigger="input changed delay:300ms"
             hx-include="this"
             name="search"
	     hx-swap="outerHTML">
    </div>

    <form {{ form_attrs }}>
        {{ render_form_fields(form) }}
    </form>
  </div>
</div>
