{% extends 'response/base.html' %}
{% from 'macros/forms/relationships/dataproduct_application.j2' import
  data_product_application_fields
%}
{% from 'macros/forms/misc.j2' import
  application_fields,
  response_object_fields
%}
{% from 'bootstrap5/form.html' import render_form %}


{% block content %}

  {{super()}}

  <h3>Data Product &lt;-&gt; Application relationship</h3>

  <!-- This form enables reloading the page when a drop-down is changed -->
  <form method="GET" class="two-columns">

    <div>
      <h4>Data product</h4>

      <select name="data_product_id" onchange="this.form.submit()">

        <option value="" {% if sqla_inspect(data_product).transient %}selected{% endif %}>
          New dataproduct
        </option>

        {% for dp in data_products %}
          <option value="{{dp.id}}" {% if dp.id == data_product.id %}selected{% endif %}>
            {{dp.short_name}}
          </option>
        {% endfor %}

      </select>
    </div>


    <div>
      <h4>Application</h4>

      <select name="application_id" onchange="this.form.submit()">

        <option value="" {% if sqla_inspect(application).transient %}selected{% endif %}>
          Create new application
        </option>

        {% for app in applications %}
          <option value="{{app.id}}" {% if app.id == application.id %}selected{% endif %}>
            {{app.short_name}}
          </option>
        {% endfor %}

      </select>
    </div>
  </form>

  <form method="POST">

    <div class="two-columns">
      <div>
        {% if sqla_inspect(data_product).transient %}
          {{ render_form(form.data_product.form) }}
        {% else %}
          <p>Name: {{data_product.short_name}}</p>
        {% endif %}
      </div>

      <div>
        {% if sqla_inspect(application).transient %}
          {{ render_form(form.application.form) }}
        {% else %}
          <p>Name: {{application.short_name}}</p>
        {% endif %}
      </div>
    </div>

    <h4>Relationship</h4>
    {% if sqla_inspect(relationship).transient %}
      {{ render_form(form, button_map={'submit_button': 'primary'})}}
    {% else %}
      {{relationship}}
    {% endif %}

  </form>


{% endblock %}
