{% extends 'response/base.html' %}


{% block content %}

  {{super()}}

  <h3>Applications</h3>

  <table>
    <tr>
      <th>Name</th>
      <th>Data products related</th>
    </tr>
    {% for application in response.applications %}
      <tr>
        <td>{{application.name}}</td>
        <td>
          {% if not application.data_product_relationships %}
            None
            <br />
          {% endif %}

          {% for data_product_relationship in application.data_product_relationships %}
            {{data_product_relationship}}
            <br />
          {% endfor %}

          <a href="{{url_for(
            'view_response_data_product_application_relationships',
            survey_id=survey.id,
            application_id=application.id,
          )}}">
            Add relationship
          </a>
        </td>
      </tr>
    {% endfor %}
  </table>

  <h3>Add application</h3>
  {% include 'forms/application.html' %}

{% endblock %}
