{% extends 'response/base.html' %}
{% from 'bootstrap5/form.html' import render_form %}
{% from 'bootstrap5/utils.html' import render_icon %}


{% block content %}
  {% include 'includes/highcharts.html' %}

  {{super()}}

  <h3>Applications</h3>

  <div class="two-columns">
    <div>
      <table>
        <tr>
          <th rowspan="2">Name</th>
          <th colspan="4">Data products related</th>
        </tr>
        <tr>
          <th>Name</th>
          <th>Performance Rating</th>
          <th>Criticality Rating</th>
          <th>Action</th>
        </tr>
        {% for application in response.applications %}
          <tr>
            <td>{{application.short_name}}</td>
            <td>
              {% if not application.input_relationships %}
                None
                <br />
              {% endif %}

              {% for input_relationship in application.input_relationships %}
                <ul>
                  <li>{{input_relationship.data_product.short_name}}</li>
                </ul>
              {% endfor %}

              <br/>
            </td>
            <td>
              {% for input_relationship in application.input_relationships %}
                <ul>
                  <li>{{input_relationship.performance_rating}}</li>
                </ul>
              {% endfor %}
            </td>
            <td>
              {% for input_relationship in application.input_relationships %}
                <ul>
                  <li>{{input_relationship.criticality_rating}}</li>
                </ul>
              {% endfor %}
            </td>
            <td>
              <a href="{{url_for(
                'data_product_application.view_response_data_product_application_relationships',
                survey_id=survey.id,
                application_id=application.id,
              )}}">{{render_icon('plus-circle-fill')}}
              </a>
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>

    {% if sankey_series == [] %}
      <div>Please input at least one application-to-dataproduct relationship to display diagram</div>
    {% else %}
      <figure class="highcharts-figure">
        <div id="highcharts-container" />
      </figure>
    {% endif %}
  </div>

  {% if not current_user.role_id=='analyst' %}
    <h3>Add application</h3>
    <form method="POST">
      {{render_form(form, button_map={'submit_button': 'primary'}) }}

    </form>

    <script>
      Highcharts.chart('highcharts-container', {
        chart: {
          type: 'sankey',
        },
        title: {
          text: 'U.S. AON Value Tree Analysis Diagram',
          style: {fontSize: '20px'},
        },
        accessibility: {
          description: 'Sankey plot for U.S. AON Value Tree',
          point: {
            valueDescriptionFormat: '{index}. {point.from} to {point.to}, {point.weight}.'
          }
        },
        series: [{
          keys: ['from', 'to', 'weight'],
          data: {{sankey_series | safe}},
        }]
      });
    </script>
  {% endif %}
{% endblock %}
