{% extends 'response/base.html' %}
{% from 'macros/forms/misc.j2' import application_fields %}


{% block content %}
  {% include 'includes/highcharts.html' %}

  {{super()}}

  <h3>Applications</h3>

  <div class="two-columns">
    <div>
      <table>
        <tr>
          <th>Name</th>
          <th>Data products related</th>
        </tr>
        {% for application in response.applications %}
          <tr>
            <td>{{application.short_name}}</td>
            <td>
              {% if not application.input_relationships %}
                None
                <br />
              {% endif %}

              {% for input_relationship in application.input_relationships %}
                <ul>
                  <li>{{input_relationship.data_product.short_name}}: {{input_relationship.performance_rating}}</li>
                </ul>
              {% endfor %}

              <a href="{{url_for(
                'view_response_data_product_application_relationships',
                survey_id=survey.id,
                application_id=application.id,
              )}}">
                Add relationship
              </a>
              <br/>
              <a> 
                delete relationship
              </a>
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>

    {% if sankey_series == [] %}
      <div>Please input at least one application-to-dataproduct relationship to display diagram</div>
    {% else %}
      <figure class="highcharts-figure">
        <div id="highcharts-container" />
      </figure>
    {% endif %}
  </div>

  <h3>Add application</h3>
  <form method="POST">
    {{form.csrf_token}}
    {{application_fields(form)}}

    <input type="submit" value="Create new application" />
  </form>

  <script>
		Highcharts.chart('highcharts-container', {
			chart: {
				type: 'sankey',
			},
			title: {
				text: 'U.S. AON Value Tree Analysis Diagram',
				style: {fontSize: '20px'},
			},
			accessibility: {
				description: 'Sankey plot fo U.S. AON Value Tree',
				point: {
					valueDescriptionFormat: '{index}. {point.from} to {point.to}, {point.weight}.'
				}
			},
			series: [{
				keys: ['from', 'to', 'weight'],
        data: {{sankey_series | safe}},
			}]
		});
  </script>
{% endblock %}
