{% extends 'base.html' %}


{% block content %}

  <h2>{% block title %}Response to: {{survey.title}}{% endblock %}</h1>
  <h3>Survey ID: {{survey.id}}</h3>
  <nav>
    <ul>

      <li>
        <a href="{{url_for('view_response', survey_id=survey.id)}}">
          Response home
        </a>
      </li>

      <li>
        <a href="{{url_for('view_response_observing_systems', survey_id=survey.id)}}">
          Observing systems ({{survey.response.observing_systems | length}})
        </a>
      </li>

      <li>
        <a href="{{url_for('view_response_data_products', survey_id=survey.id)}}">
          Data products ({{survey.response.data_products | length}})
        </a>
      </li>

      <li>
        <a href="{{url_for('view_response_applications', survey_id=survey.id)}}">
          Applications ({{survey.response.applications | length}})
        </a>
      </li>

      <li>
        <a href="{{url_for('view_response_sbas', survey_id=survey.id)}}">
          Societal Benefit Areas ({{survey.response.societal_benefit_areas | length}})
        </a>
      </li>

      <li>
        <a href="{{url_for('view_survey', survey_id=survey.id)}}">
          View survey config
        </a>
      </li>

    </ul>
  </nav>

{% endblock %}
