{% extends 'response/base.html' %}


{% block content %}

  {{super()}}

  <h3>Data products</h3>

  <table>
    <tr>
      <th>Name</th>
      <th>Observing systems related</th>
    </tr>
    {% for data_product in response.data_products %}
      <tr>
        <td>{{data_product.name}}</td>
        <td>
          {% if not data_product.input_relationships %}
            None
            <br />
          {% endif %}

          {% for observing_system_relationship in data_product.input_relationship %}
            {{observing_system_relationship}}
            <br />
          {% endfor %}

          <a href="#">Add relationship</a>
        </td>
      </tr>
    {% endfor %}
  </table>

  <h3>Add data product</h3>
  {% include 'forms/data_product.html' %}

{% endblock %}
