{% extends 'response/base.html' %}
{% from 'bootstrap5/form.html' import render_form %}
{% from 'bootstrap5/utils.html' import render_icon %}

{% block content %}

  {{super()}}

  <h3>Data products</h3>

  <div class="two-columns">
    <div>
      <table>
        <tr>
          <th>Name</th>
          <th>Observing systems related</th>
        </tr>
        {% for data_product in response.data_products %}
          <tr>
            <td>{{data_product.short_name}}</td>
            <td>
              {% if not data_product.input_relationships %}
                None
                <br />
              {% endif %}
              {% for input_relationship in data_product.input_relationships %}
                <ul>
                  <li>{{input_relationship.observing_system.short_name}}: {{input_relationship.performace_rating}}</li>
                </ul>
              {% endfor %}

              <a href="{{url_for(
                       'observing_system_data_product.view_response_observing_system_data_product_relationships',
                       survey_id=survey.id,
                       data_product_id=data_product.id,
                       )}}">
                {{render_icon('plus-circle-fill')}}
              </a>
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>

  <h3>Add data product</h3>
  <form method="POST">
    {{render_form(form, button_map={'submit_button': 'primary'}) }}

  </form>

{% endblock %}
