{% extends 'response/base.html' %}
{% from 'macros/forms/misc.j2' import response_object_fields %}
{% from 'bootstrap5/form.html' import render_form %}


{% block content %}

  {{super()}}

  <h3>Observing systems</h3>

  <table>
    <tr>
      <th>Name</th>
    </tr>
    {% for observing_system in response.observing_systems %}
      <tr>
        <td>{{observing_system.short_name}}</td>
      </tr>
    {% endfor %}
  </table>

  <h3>Add observing system</h3>
  <form method="POST">
    {{render_form(form, button_map={'submit_button': 'primary'}) }}

  </form>

{% endblock %}
