{% extends 'response/base.html' %}
{% from 'bootstrap5/form.html' import render_form %}
{% from 'bootstrap5/utils.html' import render_icon %}


{% block content %}
  {% include 'includes/highcharts.html' %}

  {{super()}}

  <div class="two-columns">
    <div>
      <h3>Societal benefit areas</h3>
      <table>
        <tr>
          <th rowspan="2">SBA ID</th>
          <th colspan="3">Related Applications</th>
        </tr>
        <tr>
          <th>Name</th>
          <th>Performance Rating</th>
          <th>Actions</th>
        </tr>
        {% for societal_benefit_area in response.societal_benefit_areas %}
          <tr>
            <td>{{societal_benefit_area.societal_benefit_area_id}}</td>
            <td>
              {% if not societal_benefit_area.input_relationships %}
                None
                <br />
              {% endif %}

              <ul>
                {% for input_relationship in societal_benefit_area.input_relationships %}
                  <li>{{input_relationship.application.short_name}}</li>
                {% endfor %}
              </ul>
            </td>
            <td>
              <ul>
                {% for input_relationship in societal_benefit_area.input_relationships %}
                  <li>{{input_relationship.performance_rating}}</li>
                {% endfor %}
              </ul>
            </td>
            <td>
              <a href="{{url_for(
                'application_societal_benefit_area.view_response_application_societal_benefit_area_relationships',
                survey_id=survey.id,
                societal_benefit_area_id=societal_benefit_area.id,
              )}}">
                {{render_icon('plus-circle-fill')}}
              </a>
            </td>
          </tr>
        {% endfor %}
      </table>
      <br></br>
      {% if not current_user.role_id not in ['admin', 'respondent'] %}
        <h3>Assign societal benefit area</h3>
        <form method="POST">
          {{render_form(form, button_map={'submit_button': 'primary'}) }}

        </form>
      {% endif %}
    </div>

    {% if sankey_series == [] %}
      <div>Please input at least one relationship to display diagram</div>
    {% else %}
      <figure class="highcharts-figure">
        <div id="highcharts-container" />
      </figure>
    {% endif %}
  </div>

  <script>
		Highcharts.chart('highcharts-container', {
			chart: {
				type: 'sankey',
			},
			title: {
				text: 'U.S. AON Value Tree Analysis Diagram',
				style: {fontSize: '20px'},
			},
			accessibility: {
				description: 'Sankey plot for U.S. AON Value Tree',
				point: {
					valueDescriptionFormat: '{index}. {point.from} to {point.to}, {point.weight}.'
				}
			},
			series: [{
				keys: ['from', 'to', 'weight'],
        data: {{sankey_series | safe}},
			}]
		});
  </script>
{% endblock %}
