#login-banner {
  /* background-color: var(--bs-warning); */
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}


/* Footer stuff */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
  width: 100%;
  padding: 20px;
}
.footer-items {
  display: flex;
  justify-content: space-between;
}


/* Nav stuff */
nav ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

nav ul li {
  display: inline;
  padding-right: 15px;
}


/* Content stuff */
.content {
  padding-top: 20px;
}

table td, table th {
  padding: 10px;
}

form input[type=submit] {
  display: block;
}

.two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}
