{% extends 'survey/base.html' %}
{% from 'bootstrap5/form.html' import render_form %}
{% from 'bootstrap5/utils.html' import render_icon %}
{% from 'macros/javascript_remove.j2' import add_javascript__remove %}


{% block content %}

  {{super()}}

  <h3>Observing systems</h3>

  <table>
    <tr>
      <th>Name</th>
    </tr>
    {% for observing_system in response.observing_systems %}
      <tr>
        <td>{{observing_system.short_name}}
        <a href="#" onclick="remove('{{url_for(
            'obs.delete_response_observing_system',
            survey_id=survey.id,
            response_observing_system_id=observing_system.id,
                    )}}'
                    )">{{render_icon('file-minus-fill', color='danger')}}
        </a>
        </td>
      </tr>
    {% endfor %}
  </table>


  {% if not current_user.role_id not in ['admin', 'respondent'] %}
    <h3>Add observing system</h3>
    <form method="POST">
      {{render_form(form, button_map={'submit_button': 'primary'}) }}

    </form>
  {% endif %}
  {{ add_javascript__remove() }}
{% endblock %}
