{% from 'bootstrap5/form.html' import render_form %}
{% from 'macros/buttons.j2' import delete_button_htmx %}

<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">
      Edit Link: {{test}}
    </h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" />
  </div>

  <div class="modal-body">
    {{delete_button_htmx(
      'link.delete',
      'Delete',
      assessment_id=assessment_id,
      link_id=link.id,
    )}}
  </div>
</div>
