{% extends 'base.html' %}
{% from 'macros/help_icon.j2' import help_icon %}
{% from 'macros/nav_pills.j2' import render_nav_pill_item %}


{% block content %}

  <h2>
    {% block title %}Assessment #{{assessment.id}}: {{assessment.title}}{% endblock %}
    {{ help_icon(
        "Created: " ~ assessment.created_timestamp | dateformat ~ "<br/>Last updated: " ~ assessment.updated_timestamp | dateformat,
        html="true",
    )}}
  </h2>


  <ul class="nav nav-pills">

    {{ render_nav_pill_item(
      'assessment.user_guide',
      'User guide',
      assessment_id=assessment.id,
    ) }}

    {{ render_nav_pill_item(
      'assessment.get',
      'Overview',
      assessment_id=assessment.id,
    ) }}

    {#
    {{ render_nav_pill_item(
      'obs.view_response_observing_systems',
      'Observing systems',
      assessment_id=assessment.id,
      _icon='pencil',
      _badge=assessment.response.observing_systems | length | string,
    ) }}
    {{ render_nav_pill_item(
      'data_product.view_response_data_products',
      'Data products',
      assessment_id=assessment.id,
      _icon='pencil',
      _badge=assessment.response.data_products | length | string,
    ) }}
    {{ render_nav_pill_item(
      'application.view_response_applications',
      'Applications',
      assessment_id=assessment.id,
      _icon='pencil',
      _badge=assessment.response.applications | length | string,
    ) }}
    {{ render_nav_pill_item(
      'sba.view_response_sbas',
      'Societal Benefit Areas',
      assessment_id=assessment.id,
      _icon='pencil',
      _badge=assessment.response.societal_benefit_areas | length | string,
    ) }}
    #}

  </ul>

{% endblock %}
