{% extends 'assessment/base.html' %}
{% from 'bootstrap5/utils.html' import render_icon %}
{% from 'macros/javascript_highcharts.j2' import display_sankey %}
{% from 'macros/buttons.j2' import create_button %}

{% block content %}
  {{super()}}

  <h3>Description</h3>
  <p>{{assessment.description}}</p>

  <div>
    {% for node_type in types.NodeType %}
      <button
        hx-get="{{ url_for("assessment.nodes.form", assessment_id=assessment.id, node_type=node_type.value) }}"
        hx-target="#form-modal-hx-target"
        hx-trigger="click"
        data-bs-toggle="modal"
        data-bs-target="#form-modal"
        class="btn btn-success text-nowrap">
        {{ render_icon("plus-circle-fill") }} Add {{ node_type.value.replace("_", " ") }} node
      </button>
    {% endfor %}
  </div>

  {{ display_sankey(sankey_series, assessment=assessment)}}
  <div style="text-align: center;">

    <img style="margin: auto" src={{ url_for("legend.get_line_thickness_legend") }} />
    <p>Criticality rating (a thicker line indicates a more critical input, a very thin line is unrated)</p>

    <img style="margin: auto" src={{ url_for("legend.get_colorbar_legend") }} />
    <!-- TODO: this label should be baked in to the legend! But was having trouble with the text getting cut off. -->
    <p>Performance rating(grey lines are unrated) </p>

  </div>

  <div>
    {# NOTE: This div has HTMX configuration because it can be used by
        Highcharts callbacks to open a modal for viewing or editing a Highcharts
        node/link. Highcharts will call `htmx.trigger("#this-div-id",
        "modalOpened")` after setting the `hx-get` attribute on this div with
        the correct URL to fetch the needed form. This is a bit complex, but it
        helps simplify the UI by promoting separation of concerns (a new endpoint
        is created to take responsibility to display the form, and HTMX is
        responsible for fetching and submitting right form). This helps prevent
        one big Jinja template for a unified diagram editing interface that
        must display at least 4 different kinds of forms.
    #}
    <div
      id="form-modal"
      class="modal modal-blur fade"
      style="display: none"
      aria-hidden="false"
      tabindex="-1"
      hx-trigger="modalOpened"
      hx-target="#form-modal-hx-target"
    >
      <div id="form-modal-hx-target"
        class="modal-dialog modal-xl modal-dialog-centered"
        role="document"
      >
        <div class="modal-content">Please wait...</div>
      </div>
    </div>
  </div>

{% endblock %}
