{% from 'bootstrap5/utils.html' import render_messages %}
{% from 'macros/nav_buttons.j2' import nav_buttons, user_buttons %}
{% from 'macros/javascript_remove.j2' import add_javascript__remove %}
{% from 'bootstrap5/utils.html' import render_icon %}

<!doctype html>
<head>
  <title>{% block title %}{% endblock %} - US AON Benefit Tool</title>
  {{ bootstrap.load_css() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>

<body>

  <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container">
      <a class="navbar-brand" href={{ url_for('root.root')}}>US AON Benefit Tool  </a>
      <div id="navbarResponsive" class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto">
          {{ nav_buttons(current_user) }}
        </ul>
        <ul class="navbar-nav">
          {{ user_buttons(current_user) }}
        </ul>
      </div>
    </div>
  </nav>


  {% if not current_user.is_authenticated %}
    <div id="login-banner" class="alert alert-warning">
      Please <a href={{ url_for('login.login') }}>log in</a> to use this application.
    </div>
  {% endif %}

  {{ render_messages(container=False, dismissible=True, dismiss_animate=True) }}


  <section class="content">
    <div class="container">

      <header>
        {% block header %}{% endblock %}
      </header>

      {% block content %}{% endblock %}

    </div>
  </section>


  <footer>
    <hr />
    <div class="footer-items">
      <p>&copy; USAON &amp; NSIDC 2022</p>
      <p>Version: v{{ __version__ }}</p>
      <div class="d-flex">
      <a href="{{repo_url}}">
        {{ render_icon('github' )}}
      </a>
      &nbsp;
      &nbsp;
      <a href="{{doc_url}}">
        {{ render_icon('filetype-doc' )}}
      </a>
      &nbsp;
      &nbsp;
      <a href="{{discuss_url}}">
        {{ render_icon('chat-right-quote' )}}
      </a>
     </div>
    </div>
  </footer>

  {% block scripts %}
    {{ bootstrap.load_js() }}
    {{ add_javascript__remove() }}

    <!-- init tooltips (https://getbootstrap.com/docs/5.0/components/tooltips/) -->
    <script type="text/javascript">
      var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
      var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
      })
    </script>
  {% endblock %}

</body>
