{% extends 'base.html' %}
{% from 'bootstrap5/utils.html' import render_icon %}
{% from 'macros/badges/private.j2' import private_badge %}
{% from 'macros/buttons.j2' import edit_button, delete_button_htmx %}


{% block content %}
  <h2>{% block title %}Object library{% endblock %}</h1>

  {% if current_user.role_id == types.RoleName.ADMIN %}
    {% for node_type in types.NodeType %}
      <button
        data-bs-toggle="modal"
        data-bs-target="#new-node-modal"
        hx-get="{{ url_for('nodes.form', node_type=node_type.value) }}"
        hx-target="#new-node-modal-hx-target"
        hx-trigger="click"
        class="btn btn-success text-nowrap">
        {{ render_icon("plus-circle-fill") }} New {{ node_type.value.replace("_", " ") }}
      </button>
    {% endfor %}


    <div
      id="new-node-modal"
      class="modal modal-blur fade"
      style="display: none"
      aria-hidden="false"
      tabindex="-1"
    >
      <div
        id="new-node-modal-hx-target"
        class="modal-dialog modal-lg modal-dialog-centered"
        role="document">
        <div class="modal-content">
        </div>
      </div>
    </div>
  {% endif %}

  <br />

  <table class='table'>

    <thead>
      <tr>
        <th>#</th>

        <th>Title</th>
        <th>Object type</th>

        {% if current_user.role_id == types.RoleName.ADMIN %}
        <th>Created by</th>
        <th>Created time</th>
        <th>Updated time</th>
        {% endif %}

      </tr>
    </thead>

    <tbody>
    {% for node in nodes %}
      <tr>

        <td>{{node.id}}</td>

        <td>
          <strong><a href="{{ url_for("node.get", node_id=node.id) }}">
            {{node.title}}
          </a></strong>
        </td>

        <td>
          {{node.type.value}}
        </td>

        {% if current_user.role_id == types.RoleName.ADMIN %}
        <td>{{node.created_by.email}}</td>
        <td>{{node.created_timestamp | dateformat}}</td>
        <td>{{node.updated_timestamp | dateformat}}</td>
        <td>
          {{delete_button_htmx('node.delete', 'Delete object', node_id=node.id)}}
        </td>
        {% endif %}

      </tr>
    {% endfor %}
    </tbody>

  </table>

{% endblock %}
