{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}


{% block content %}

<h1>{% block title %}Profile | {{ user.email }} {% endblock %}</h1>
<h2>Name: {{ user.name }}</h2>
{% if not current_user.id==user.id %}
  <h3 style='color:red'>This is another users profile.</h3>
{% endif %}

<form method="POST">

  {{render_form(form, button_map={'submit_button': 'primary'}) }}

</form>

<h5>
New users are automatically set as 'Analyst' - a view only role.
If you believe you should be changed to have more permissions email hazel@iarpccollaborations.org.
</h5>
{% endblock %}
