{% extends 'base.html' %}
{% from 'bootstrap5/utils.html' import render_icon %}


{% block content %}
  <h2>{% block title %}Surveys{% endblock %}</h1>

  {% if current_user.role_id=='admin' %}
    <a href="{{url_for('survey.new_survey')}}">New survey</a>
  {% endif %}
  <br />
  <br />
  <table class='table'>

    <thead>
      <tr>
        <th>#</th>
        <th>Response Id</th>
        <th>Title</th>
        <th>Created On</th>
        <th>Created by</th>
        <th>Response last updated</th>
        <th>Description</th>
        <th>Status</th>
        <th>Private</th>
        <th>Actions</th>
      </tr>
    </thead>

  {% for survey in surveys %}
    <tbody>
      <tr>
        <td>{{survey.id}}</td>
        <td>{{survey.response.id}}</td>
        <td>{{survey.title}}</td>
        <td>{{survey.created_timestamp}}</td>
        <td>{{survey.created_by.email}}</td>
        <td>{{survey.response.updated_timestamp}}</td>
        <td>{{survey.description}}</td>
        <td>{{survey.status.id}}</td>
        <td>{{survey.private}}</td>
        <td>
          <a href="{{url_for('survey.view_survey', survey_id=survey.id)}}">{{render_icon('eye-fill')}}</a>
        </td>
      </tr>
    </tbody>
  {% endfor %}

  </table>

{% endblock %}
