{% extends 'base.html' %}
{% from 'bootstrap5/utils.html' import render_icon %}
{% from 'macros/badges/private.j2' import private_badge %}


{% block content %}
  <h2>{% block title %}Surveys{% endblock %}</h1>

  {% if current_user.role_id=='admin' %}
    <a href="{{url_for('survey.new_survey')}}"
       class="btn btn-success"
       role="button"
    />
      {{ render_icon("plus-circle-fill") }} New survey
    </a>
  {% endif %}

  <br />
  <br />

  <table class='table'>

    <thead>
      <tr>
        {% if current_user.role_id=='admin' %}
        <th>#</th>
        <th>Response Id</th>
        {% endif %}

        <th>Title</th>

        {% if current_user.role_id=='admin' %}
        <th>Created by</th>
        <th>Created time</th>
        <th>Updated time</th>
        {% endif %}

        <th>Status</th>

        <!-- no header for final "badges" and "actions" columns -->
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
    {% for survey in surveys %}
      <tr>
        {% if current_user.role_id=='admin' %}
        <td>{{survey.id}}</td>
        <td>{{survey.response.id}}</td>
        {% endif %}

        <td><strong>{{survey.title}}</strong></td>

        {% if current_user.role_id=='admin' %}
        <td>{{survey.created_by.email}}</td>
        <td>{{survey.created_timestamp | dateformat}}</td>
        <td>{{survey.response.updated_timestamp | dateformat}}</td>
        {% endif %}

        <td>{{survey.status.id}}</td>
        <td>{{private_badge(survey.private)}}</td>
        <td>
          <a href="{{url_for('survey.view_survey', survey_id=survey.id)}}"
             class="btn btn-primary text-nowrap"
             role="button"
          />
            {{render_icon('pencil')}} Edit
          </a>
        </td>
      </tr>
    {% endfor %}
    </tbody>

  </table>

{% endblock %}
